<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twenty</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="game.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
</head>
<body>
    <div class="mx-auto game-board" id="main-game-board">
    {% for row in range(7) %}
        <div class="row">
            {% for column in range(7) %}
                <div class="cell" data-coordinate-x="{{ column }}" data-coordinate-y="{{ row }}">{{ column }}{{ row }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>