{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="timer-container">
        <div id="timer">
            <div id="timer-bar"></div>
        </div>
    </div>
    <div class="mx-auto game-board" id="main-game-board" data-drag-source="" data-drag-number="">
        {% for row in range(8) %}
            <div class="row">
                {% for column in range(7) %}
                    <div class="cell" data-col="{{ column }}" data-row="{{ row }}" id="r{{ row }}c{{ column }}"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}